.navbar1 {
    background-color: rgb(248, 0, 0);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Add padding on larger screens */
@media (min-width: 768px) {
    .navbar {
      padding-right: 100px; /* Add padding to the right side */
    }
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    font-family: cursive; /* Add your desired font family */
  }
  
  .logo-text span {
    color: #004302; /* Add your desired color for the first letter */
  }
  
  .nav-list1 {
    list-style-type: none;
    display: flex;
    gap: 5px;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  
  
  